<div class="container p-2 ">
    <div class="row">
        <div class="col-md-6 mx-auto ">
            <div class="card text-black bg-light text-center">
                <div class="card-hearder "> Inicia Sesion</div>
                <div class="card-body">
                    <form action="/signin" method="POST">
                    <div class="form-group m-2">
                        <input type="email" autocomplete="off" name="correo" placeholder="Correo"  class="form-control">
                    </div>
                    <div class="form-group m-2">
                        <input type="password" autocomplete="off" name="password" placeholder="Contraseña"  class="form-control">
                    </div>
                     <div class="form-group m-2">
                        <button class="btn btn-success btn-block">
                            Sign in
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>