<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-hearder">
                    <h3>REGISTRATE</h3>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST">
                    <div class="form-group m-2">
                        <input type="text" name="fullname" placeholder="nombre" class="form-control" autofocus>
                    </div>
                    <div class="form-group m-2">
                        <input type="email" name="correo" placeholder="Correo"  class="form-control">
                    </div>
                    <div class="form-group m-2">
                        <input type="password" name="password" placeholder="Contraseña"  class="form-control">
                    </div>
                     <div class="form-group m-2">
                        <button class="btn btn-success btn-block">
                            Regístrate
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>